// Definindo as variáveis para o projeto
$cor-primaria: #182C61;
$cor-secundaria: #44bd32;
$cor-fundo: #f5f6fa;
$font-family: 'Roboto', sans-serif;
$max-width-container: 1024px;
$grid-gap: 1%;
$bord-radius: 16px;
$espaco-padding: 16px;
$espaco-margin: 8px;